trigger:
  branches:
    include:
      - master

pool:
  vmImage: ubuntu-latest

steps:
- task: Docker@2
  displayName: Home
  inputs:
    containerRegistry: 'Pipeline-Dev_RegConn'
    repository: 'pipeline_dev_home'
    command: 'buildAndPush'
    Dockerfile: '**/Dockerfile'
    tags: '$(Build.BuildId)'